#inputTable{
    width: 600px;
    height: 200px;
    font-size: 20px;
}

input{
    height: 30px;
    border: 2px solid black;
    font-size: 20px;
}
.btn {
    font-size: 15px;
    width: 100px;
    height: 50px;
}
